<!DOCTYPE html>
<!DOCTYPE>
<html>
 <head>
  <meta name="turbolinks-cache-control" content="no-cache">
  <% if !current_user.steemaccount.present? %>
  <div class="alert alert-success">You must set your steemaccount in your <%= link_to 'Profile', edit_user_registration_path, class: 'btn btn-primary btn-lg' %></div>
  <% else %>
  <script type="text/javascript">
    window.currentUser = {steemaccount : "<%=current_user.steemaccount%>"}
  </script>
  <% end %>
 
  </head>
  <body>
    <center>
    <h1>SteemStars! Galaxy</h1>
    </center>
    <div id="cy"></div>
    <div id="light" class="white_content">
    <input type="button" value="X" id="closelegend" class="closelegend">
    <h1>Things you will encounter in the galaxy:</h1>
    </br>
    <ul>
    <li><%= image_tag("yellow.png", :alt => "yellow") %><h1>Follower</h1></li>
    <li><%= image_tag("green.png", :alt => "green") %><h1>Mutual</h1></li>
    <li><%= image_tag("blue.png", :alt => "blue") %><h1>Followed</h1></li>
    </ul>
    </div>
    <div id="fade" class="black_overlay">
    
    </div>
    </body>
</html>