<center>
<h1>Account: <%= params[:account_id] %></h1>

<p><%= pluralize(@followers.count, 'followers') %></p>
</center>
<ul>
  <% @followers.each do |follower| %>
    <li><%= link_to follower, account_followers_path(account_id: follower.gsub('.', ',')) %></li>
  <% end %>
</ul>

[
<%= link_to "Previous", :back %>
|
<%= link_to "Next", account_followers_path(account_id: @account_id, after: @followers.last) %>
]
