<center>
<h1>Account: <%= @id %></h1>

<p>
  <strong>Created:</strong>
  <%= time_ago_in_words Time.parse(@account.created) %>
</p>

<p>
  <strong>Network Reputation:</strong>
  <%= @account.reputation %>
</p>

<p>
  <strong>Last Vote:</strong>
  <%= time_ago_in_words Time.parse(@account.last_vote_time) %>
</p>

<p>
  <strong>Last Post:</strong>
  <%= time_ago_in_words Time.parse(@account.last_root_post) %>
</p>

<p>
  <strong>Last Comment:</strong>
  <%= time_ago_in_words Time.parse(@account.last_post) %>
</p>

<p>
  <strong>STEEM Balance:</strong>
  <%= @account.balance %>
</p>

<p>
  <strong>SBD Balance:</strong>
  <%= @account.sbd_balance %>
</p>

<p>
  <strong>VESTS Balance:</strong>
  <%= @account.vesting_shares %>
</p>

<p>
  <strong>Witness Votes:</strong>
  <%= @account.witness_votes.to_sentence %>
</p>

<p>
  <strong>Global:</strong>
<%= api = Radiator::Api.new
response = api.get_dynamic_global_properties
response.result.virtual_supply %>
</p>

<%= link_to 'Followers', account_followers_path(params[:id]) %>
<%= link_to 'Follows', account_follows_path(params[:id]) %>

</center>

<div id='cy'></div>
