<center>
  <div id=data>
<h1>Account: <%= @id %></h1>

<p>
  <strong>Created:</strong>
  <%= time_ago_in_words Time.parse(@account.created) %>
</p>

<p>
  <strong>Network Reputation Raw:</strong>
  <%= number_to_human(@account.reputation.to_i) %>
</p>

<p>
  <strong>Network Reputation Level:</strong>
  <%raw = @account.reputation.to_i%>
  <%level = Math.log10(@account.reputation.to_i.abs)%>
  <%level = [level - 9, 0].max%>
  <%level = (level * 9) + 25%>
  <%=number_to_human(level)%>
</p>

<p>
  <strong>Last Vote:</strong>
  <%= time_ago_in_words Time.parse(@account.last_vote_time) %>
</p>

<p>
  <strong>Last Post:</strong>
  <%= time_ago_in_words Time.parse(@account.last_root_post) %>
</p>

<p>
  <strong>Last Comment:</strong>
  <%= time_ago_in_words Time.parse(@account.last_post) %>
</p>

<p>
  <strong>STEEM Balance:</strong>
  <%= @account.balance.to_i %>
</p>

<p>
  <strong>SBD Balance:</strong>
  <%= @account.sbd_balance %>
</p>

<p>
  <strong>VESTS Balance:</strong>
  <%=number_to_human(@account.vesting_shares.to_i) %>
</p>

<p>
  <strong>Witness Votes:</strong>
  <%= @account.witness_votes.to_sentence %>
</p>

<p>
  <strong>Witness Votes Amount:</strong>
  <%= @account.witness_votes.length %>
</p>

<p>
  <strong>Global Steem:</strong>
<%= api = Radiator::Api.new
response = api.get_dynamic_global_properties
number_with_delimiter(response.result.virtual_supply.to_i) %>
</p>
</div>
</center>
